{% load static %}
<!doctype html>
<html lang="fa">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="starkteam">
  <link rel="shortcut icon" href="{% static 'favicon.png' %}">

  <meta name="description" content="با صباشید و تیم متخصص ما در امور ویزا و تور آشنا شوید. ما متعهد به ارائه سفرهای باکیفیت بالا و قیمت‌های اقتصادی هستیم." />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>🤝 درباره ما | تخصص صباشید در ویزا و تور باکیفیت و ارزان</title>
</head>

<body>


  {% include 'header.html' with about="active" only %}


  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">درباره ما</h1>
{#            <p class="text-white">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>#}
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  <div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-single dots-absolute owl-carousel">
            <img src="{% static 'images/slider-1.jpg' %}" alt="starkteam" class="img-fluid rounded-20">
            <img src="{% static 'images/slider-2.jpg' %}" alt="starkteam" class="img-fluid rounded-20">
            <img src="{% static 'images/slider-3.jpg' %}" alt="starkteam" class="img-fluid rounded-20">
            <img src="{% static 'images/slider-4.jpg' %}" alt="starkteam" class="img-fluid rounded-20">
            <img src="{% static 'images/slider-5.jpg' %}" alt="starkteam" class="img-fluid rounded-20">
          </div>
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto">
          <h2 class="section-title mb-4">
ما هرگز فراموش نمی‌کنیم که شما انتخابی دارید.
</h2>
          <p style="text-align: right">شبکه همکاری بین‌المللی و سفارت‌خانه‌ها: تِک تراول با همکاری نزدیک با سفارت‌ها، به‌ویژه سفارت سوئیس، خدمات ویژه‌ای را در حوزه دریافت ویزا و تسهیل سفرهای بین‌المللی ارائه می‌دهد. این همکاری‌ها باعث شده تا مسافران ایرانی بتوانند به‌سادگی به مقاصد خاصی همچون سوئیس سفر کنند، که مزیتی بزرگ برای گردشگران و شرکت‌های همکار محسوب می‌شود.</p>
          <ul class="list-unstyled two-col clearfix">
            <li> ضمانت بهترین قیمت </li>
            <li> خدمات CIP پرواز </li>
            <li> راهنمای فارسی‌زبان همراه </li>
            <li>اقامت</li>
            <li>ویزا</li>
            <li>هتل</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{#  <div class="untree_co-section">#}
{#    <div class="container">#}
{#      <div class="row justify-content-center mb-5">#}
{#        <div class="col-md-6 text-center">#}
{#          <h2 class="section-title mb-3 text-center">Team</h2>#}
{#          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="row">#}
{#        <div class="col-lg-3 mb-4">#}
{#          <div class="team">#}
{#            <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid mb-4 rounded-20">#}
{#            <div class="px-3">#}
{#              <h3 class="mb-0">James Watson</h3>#}
{#              <p>Co-Founder &amp; CEO</p>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-3 mb-4">#}
{#          <div class="team">#}
{#            <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid mb-4 rounded-20">#}
{#            <div class="px-3">#}
{#              <h3 class="mb-0">Carl Anderson</h3>#}
{#              <p>Co-Founder &amp; CEO</p>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class="col-lg-3 mb-4">#}
{#          <div class="team">#}
{#            <img src="{% static 'images/person_4.jpg' %}" alt="Image" class="img-fluid mb-4 rounded-20">#}
{#            <div class="px-3">#}
{#              <h3 class="mb-0">Michelle Allison</h3>#}
{#              <p>Co-Founder &amp; CEO</p>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-3 mb-4">#}
{#          <div class="team">#}
{#            <img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid mb-4 rounded-20">#}
{#            <div class="px-3">#}
{#              <h3 class="mb-0">Drew Wood</h3>#}
{#              <p>Co-Founder &amp; CEO</p>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{##}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}


  

{#  <div class="untree_co-section testimonial-section mt-5">#}
{#    <div class="container">#}
{#      <div class="row justify-content-center">#}
{#        <div class="col-lg-7 text-center">#}
{#          <h2 class="section-title text-center mb-5">Testimonials</h2>#}
{##}
{#          <div class="owl-single owl-carousel no-nav">#}
{#            <div class="testimonial mx-auto">#}
{#              <figure class="img-wrap">#}
{#                <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid">#}
{#              </figure>#}
{#              <h3 class="name">Adam Aderson</h3>#}
{#              <blockquote>#}
{#                <p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>#}
{#              </blockquote>#}
{#            </div>#}
{##}
{#            <div class="testimonial mx-auto">#}
{#              <figure class="img-wrap">#}
{#                <img src="{% static 'images/person_3.jpg'%}" alt="Image" class="img-fluid">#}
{#              </figure>#}
{#              <h3 class="name">Lukas Devlin</h3>#}
{#              <blockquote>#}
{#                <p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>#}
{#              </blockquote>#}
{#            </div>#}
{##}
{#            <div class="testimonial mx-auto">#}
{#              <figure class="img-wrap">#}
{#                <img src="{% static 'images/person_4.jpg' %}" alt="Image" class="img-fluid">#}
{#              </figure>#}
{#              <h3 class="name">Kayla Bryant</h3>#}
{#              <blockquote>#}
{#                <p>&ldquo;There live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>#}
{#              </blockquote>#}
{#            </div>#}
{##}
{#          </div>#}
{##}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}

{#  <div class="untree_co-section">#}
{#    <div class="container">#}
{#      <div class="row justify-content-between align-items-center">#}
{##}
{#        <div class="col-lg-6">#}
{#          <figure class="img-play-video">#}
{#            <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=mwtbEGNABWU" data-fancybox>#}
{#              <span></span>#}
{#            </a>#}
{#            <img src="{% static 'images/hero-slider-2.jpg' %}" alt="Image" class="img-fluid rounded-20">#}
{#          </figure>#}
{#        </div>#}
{##}
{#        <div class="col-lg-5">#}
{#          <h2 class="section-title text-left mb-4">Take a look at Tour Video</h2>#}
{#          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
{##}
{#          <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{##}
{#          <ul class="list-unstyled two-col clearfix">#}
{#            <li>Outdoor recreation activities</li>#}
{#            <li>Airlines</li>#}
{#            <li>Car Rentals</li>#}
{#            <li>Cruise Lines</li>#}
{#            <li>Hotels</li>#}
{#            <li>Railways</li>#}
{#            <li>Travel Insurance</li>#}
{#            <li>Package Tours</li>#}
{#            <li>Insurance</li>#}
{#            <li>Guide Books</li>#}
{#          </ul>#}
{##}
{#          <p><a href="#" class="btn btn-primary">Get Started</a></p>#}
{##}
{#          #}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
  
  <div class="py-5 cta-section">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<h2 class="mb-2 text-white">به شما امکان می دهیم بهترین ها را کشف کنید. اکنون با ما تماس بگیرید</h2>
{#					<p class="mb-4 lead text-white text-white-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</p>#}
					<p class="mb-0"><a href="{% url 'contact' %}" class="btn btn-outline-white text-white btn-md font-weight-bold">در تماس باشید</a></p>
				</div>
			</div>
		</div>
	</div>

  {% include 'footer.html' %}

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/daterangepicker.js' %}"></script>

  <script src="{% static 'js/typed.js' %}"></script>
  
  <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>
