

<div class="single-post row">
    <div class="col-lg-3  col-md-3 meta-details">
        <div class="user-details row">
            <p class="user-name col-lg-12 col-md-12 col-6"><a href="#">{{ blog.writers.name }}</a> <span class="lnr lnr-user"></span></p>
            <p class="date col-lg-12 col-md-12 col-6"><a href="#">{{ blog.time }}</a> <span class="lnr lnr-calendar-full"></span></p>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 ">
        <div class="feature-img">
            <img class="img-fluid" src="{{ blog.avatar.url }}" alt="{{ blog.title }}">
        </div>
        <a class="posts-title" href="{% url 'blogs_details' blog.slug %}"><h3>{{ blog.title }}</h3></a>
        <p class="excert">{{ blog.short | safe }}</p>
        <a href="{% url 'blogs_details' blog.slug %}" class="primary-btn">ببیشتر</a>
    </div>
</div>
