<div class="site-footer">
		<div class="inner first">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<h3 class="heading" style="text-align: right;">چرا صباشید؟</h3>
							<p style="text-align: right">صباشید تمام مراحل سفر از جمله دریافت ویزا را بر عهده می‌گیرد و به عنوان مجری مستقیم، با سفارت‌ها در زمینه دریافت ویزاهای مختلف همکاری می‌کند. این شرکت همچنین تورهای ترکیبی به کشورهای مختلف ارائه می‌کند</p>
						</div>
						<div class="widget">
							<ul class="list-unstyled social">
{#								<li><a href="#"><span class="icon-twitter"></span></a></li>#}
								<li><a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/sabashidpars/"><span class="icon-instagram"></span></a></li>
{#								<li><a href="#"><span class="icon-facebook"></span></a></li>#}
{#								<li><a href="#"><span class="icon-linkedin"></span></a></li>#}
{#								<li><a href="#"><span class="icon-dribbble"></span></a></li>#}
{#								<li><a href="#"><span class="icon-pinterest"></span></a></li>#}
{#								<li><a href="#"><span class="icon-apple"></span></a></li>#}
{#								<li><a href="#"><span class="icon-google"></span></a></li>#}
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2 pl-lg-5">
						<div class="widget">
							<h3 class="heading" style="text-align: right;">صفحات</h3>
							<ul class="links list-unstyled">
                                <li style="text-align: right;"><a href="{% url 'index' %}">خانه</a></li>
								<li style="text-align: right;"><a href="{% url 'hotels' %}">هتل ها</a></li>
								<li style="text-align: right;"><a href="{% url 'services' %}">سرویس ها</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<div class="widget">
							<h3 class="heading" style="text-align: right;">منابع</h3>
							<ul class="links list-unstyled">
								<li  style="text-align: right;"><a href="{% url 'blogs' %}">بلاگ ها</a></li>
								<li  style="text-align: right;"><a href="{% url 'about' %}">درباره ما</a></li>
								<li  style="text-align: right;"><a href="{% url 'contact' %}">تماس با ما</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<h3 class="heading" style="text-align: right;">تماس با ما</h3>
							<ul class="list-unstyled quick-info links">
								<li class="email"><a href="mailto:info@sabashidpars.com">info@sabashidpars.com</a></li>
								<li class="phone"><a href="tel:+989001113450">+98 900 111 3450</a></li>
								<li class="address"><a href="https://maps.app.goo.gl/c6FThsmAGVV9FcFM7" target="_blank">Unit1, South 3rd Floor Heravi Center Commerial Complex, Heravi, Tehran</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="inner dark">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 mb-3 mb-md-0 mx-auto">
						<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://github.com/aliashtab77" class="link-highlight">starkteam</a>
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>