<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="{% url 'index' %}" class="logo m-0">صباشید<span class="text-primary">.</span></a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li class="{{ index }}" ><a href="{% url 'index' %}">خانه</a></li>
                    <li class="{{ hotels }}" ><a href="{% url 'hotels' %}">هتل ها</a></li>
					<li class="{{ blogs }}" ><a href="{% url 'blogs' %}">بلاگ ها</a></li>
					<li class="{{ services }}" ><a href="{% url 'services' %}">خدمات ما</a></li>
					<li class="{{ about }} "><a href="{% url 'about' %}">درباره ما</a></li>
					<li class="{{ contact }}" ><a href="{% url 'contact' %}">تماس با ما</a></li>
				</ul>

				<a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>

			</div>
		</div>
	</nav>