{% load static %}
<!DOCTYPE html>
	<html lang="fa-ir" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'mamad/img/fav.png' %}">
		<!-- Author Meta -->
		<meta name="author" content="starkteam">
		<!-- Meta Description -->
		<meta name="description" content="بهترین هتل‌های داخلی و خارجی را با صباشید ارزان‌تر رزرو کنید. اقامت در هتل‌های ۵ ستاره تا اقتصادی با تضمین کیفیت و بهترین قیمت.">
		<!-- Meta Keyword -->
		<meta name="keywords" content="هتل هتل ها">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>✅ رزرو هتل‌ خارجی و داخلی | بهترین قیمت و تضمین کیفیت – صباشید</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'mamad/css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'mamad/css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'mamad/css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'mamad/css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'mamad/css/jquery-ui.css' %}">
			<link rel="stylesheet" href="{% static 'mamad/css/nice-select.css' %}">
			<link rel="stylesheet" href="{% static 'mamad/css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'mamad/css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'mamad/css/main.css' %}">



        <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
		</head>
		<body>	


{#            ex#}
			  {% include 'header.html' with hotels="active" only %}


  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">هتل ها</h1>
{#            <p class="text-white">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>#}
          </div>
        </div>
      </div>
    </div>
  </div>




{#ex#}

			<!-- Start destinations Area -->
			<section class="destinations-area section-gap">
				<div class="container">
{#		            <div class="row d-flex justify-content-center">#}
{#		                <div class="menu-content pb-40 col-lg-8">#}
{#		                    <div class="title text-center">#}
{#		                        <h1 class="mb-10">Popular Destinations</h1>#}
{#		                        <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to.</p>#}
{#		                    </div>#}
{#		                </div>#}
{#		            </div>#}
					<div class="row">
                        {% if hotels %}
                            {% for hotel in hotels %}
						        <div class="col-lg-4">
							        <div class="single-destinations">
								        <div class="thumb">
									        <img src="{{ hotel.avatar.url }}" alt="{{ hotel.name }}">
								    </div>
                                    <div class="details">
                                        <h4 class="d-flex justify-content-between">
                                            <span>هتل {{ hotel.name }}</span>
                                            <div class="star">
                                                {% for i in ra %}
                                                    {% if i <= hotel.star %}
                                                <span class="fa fa-star checked"></span>
                                                    {% else %}
                                                <span class="fa fa-star"></span>
                                                    {% endif %}
                                                    {% endfor %}
                                            </div>
                                        </h4>
                                        <p>
    {#										View on map   |   49 Reviews#}
                                        </p>
                                        <ul class="package-list">
                                            <li class="d-flex justify-content-between align-items-center">
                                                <span>استخر شنا</span>
                                                {% if hotel.swim %}
                                                <span>دارد</span>
                                                {% else %}
                                                <span>ندارد</span>
                                                {% endif %}
                                            </li>
                                            <li class="d-flex justify-content-between align-items-center">
                                                <span>باشگاه</span>
                                                {% if hotel.gym %}
                                                <span>دارد</span>
                                                {% else %}
                                                <span>ندارد</span>
                                                {% endif %}
                                            </li>
                                            <li class="d-flex justify-content-between align-items-center">
                                                <span>Wi-fi</span>
                                                {% if hotel.wifi %}
                                                <span>دارد</span>
                                                {% else %}
                                                <span>ندارد</span>
                                                {% endif %}
                                            </li>
                                            <li class="d-flex justify-content-between align-items-center">
                                                <span>سرویس اتاق</span>
                                                {% if hotel.roomsevice %}
                                                <span>دارد</span>
                                                {% else %}
                                                <span>ندارد</span>
                                                {% endif %}
                                            </li>
                                            <li class="d-flex justify-content-between align-items-center">
                                                <span>تهویه هوا</span>
                                                {% if hotel.aircondition %}
                                                <span>دارد</span>
                                                {% else %}
                                                <span>ندارد</span>
                                                {% endif %}
                                            </li>
                                            <li class="d-flex justify-content-between align-items-center">
                                                <span>رستوران</span>
                                                {% if hotel.resturant %}
                                                <span>دارد</span>
                                                {% else %}
                                                <span>ندارد</span>
                                                {% endif %}
                                            </li>
                                            <li class="d-flex justify-content-between align-items-center">
                                                <span>هزینه برای هر شب</span>
                                                <a href="#" class="price-btn">${{ hotel.price }}</a>
                                            </li>
                                        </ul>
                                    </div>
							</div>
						</div>
                            {% endfor %}
                         {% else %}
                            <h1 style="align-self: center;text-align: center;">فعلا هتلی موجود نیست به زودی لیست هتل ها به وبسایت اضافه می شود</h1>
                        {% endif %}
					</div>
				</div>
			</section>
			<!-- End destinations Area -->




{% include 'footer.html' %}

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

			<script src="{% static 'mamad/js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="{% static 'mamad/js/popper.min.js' %}"></script>
			<script src="{% static 'mamad/js/vendor/bootstrap.min.js' %}"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
 			<script src="{% static 'mamad/js/jquery-ui.js' %}"></script>
  			<script src="{% static 'mamad/js/easing.min.js' %}"></script>
			<script src="{% static 'mamad/js/hoverIntent.js' %}"></script>
			<script src="{% static 'mamad/js/superfish.min.js' %}"></script>
			<script src="{% static 'mamad/js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'mamad/js/jquery.magnific-popup.min.js' %}"></script>
			<script src="{% static 'mamad/js/jquery.nice-select.min.js' %}"></script>
			<script src="{% static 'mamad/js/owl.carousel.min.js' %}"></script>
			<script src="{% static 'mamad/js/mail-script.js' %}"></script>
			<script src="{% static 'mamad/js/main.js' %}"></script>



  <script src="{% static 'js/aos.js' %}"></script>


  <script src="{% static 'js/typed.js' %}"></script>

  <script src="{% static 'js/custom.js' %}"></script>
		</body>
	</html>