{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="starkteam">
	<link rel="shortcut icon" href="{% static 'favicon.png' %}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
	<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
	<link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
	<link rel="stylesheet" href="{% static 'css/aos.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--	extera-->
<!--	<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />-->

<!--	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />-->
	<!--font-awesome.min.css-->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<!--			style1.css-->
	<link rel="stylesheet" href="{% static 'css/style1.css' %}" />
	<!--responsive.css-->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

	<!--		jalalli datepicker-->

	<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

	<title>Travel Agency by starkteam</title>
</head>

<body>


	{% include 'header.html' with index="active" only %}


	<div class="hero">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="intro-wrap">
						<h1 class="mb-5"><span class="d-block">بیایید از سفر به
                            <br><span class="typed-words"></span></span> <span>لذت ببریم</span> </h1>

						<div class="row">
							<div class="col-12" style="display: none">
								<form class="form">
									<div class="row mb-2">
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
											<select name="" id="" class="form-control custom-select">
												<option value="">Destination</option>
												<option value="">Peru</option>
												<option value="">Japan</option>
												<option value="">Thailand</option>
												<option value="">Brazil</option>
												<option value="">United States</option>
												<option value="">Israel</option>
												<option value="">China</option>
												<option value="">Russia</option>
											</select>
										</div>
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-5">
											<input type="text" class="form-control" name="daterange">
										</div>
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
											<input type="text" class="form-control" placeholder="# of People">
										</div>

									</div>
									<div class="row align-items-center">
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
											<input type="submit" class="btn btn-primary btn-block" value="Search">
										</div>
										<div class="col-lg-8">
											<label class="control control--checkbox mt-3">
												<span class="caption">Save this search</span>
												<input type="checkbox" checked="checked" />
												<div class="control__indicator"></div>
											</label>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-5">
                    {% if slides %}
					<div class="slides">
                    {% for slide in slides %}
                        {% if forloop.first %}
                    	<img src="{{ slide.avatar.url }}" alt="عکس {{ slide.name }}" class="img-fluid active">
                        {% else %}
						<img src="{{ slide.avatar.url }}" alt="عکس {{ slide.name }}" class="img-fluid">
                        {% endif %}
                    {% endfor %}
					</div>
                     {% endif %}
				</div>

			</div>
		</div>
	</div>
{% comment %}
	<section  class="travel-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="single-travel-boxes">
						<div id="desc-tabs" class="desc-tabs">

							<ul class="nav nav-tabs mamad1">

								<li class="presentation">
									<a href="#tours" aria-controls="tours" data-toggle="tab" class="active">
										<i class="fa fa-tree"></i>
										تور
									</a>
								</li>

								<li class="presentation">
									<a href="#hotels" aria-controls="hotels" data-toggle="tab">
										<i class="fa fa-building"></i>
										هتل
									</a>
								</li>

								<li class="presentation">
									<a href="#flights" aria-controls="flights" data-toggle="tab">
										<i class="fa fa-plane"></i>
										پرواز
									</a>
								</li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">

								<div class="tab-pane active fade in show" id="tours">
									<div class="tab-para">

										<div class="row">
											<div class="col-lg-5 col-md-6 col-sm-12">
												<div class="single-tab-select-box">

													<h2 class="mamad0">مقصد</h2>

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">کشور مقصد را وارد کنید</option><!-- /.option-->

															<option value="turkey">ترکیه</option><!-- /.option-->

															<option value="russia">روسیه</option><!-- /.option-->
															<option value="egept">مصر</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="single-tab-select-box">
													<h2 class="mamad0">شروع تور</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="check_in" class="form-control datepicker" placeholder="12/06/1403 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->


											<div class="col-lg-2 col-md-2 col-sm-12">
												<div class="single-tab-select-box">
													<h2 class="mamad0">مدت</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">5</option><!-- /.option-->

															<option value="10">10</option><!-- /.option-->

															<option value="15">15</option><!-- /.option-->
															<option value="20">20</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-12">
												<div class="single-tab-select-box">
													<h2 class="mamad0">تعداد</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">1</option><!-- /.option-->

															<option value="2">2</option><!-- /.option-->

															<option value="4">4</option><!-- /.option-->
															<option value="8">8</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

										</div><!--/.row-->

										<div class="row">
											<div class="col-sm-5">
											</div><!--/.col-->
											<div class="clo-sm-7">
												<div class="about-btn travel-mrt-0 pull-right">
													<button  class="about-view travel-btn">
														جست وجو
													</button><!--/.travel-btn-->
												</div><!--/.about-btn-->
											</div><!--/.col-->

										</div><!--/.row-->

									</div><!--/.tab-para-->

								</div><!--/.tabpannel-->

								<div class="tab-pane fade in" id="hotels">
									<div class="tab-para">

										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="single-tab-select-box">

													<h2 class="mamad0">مقصد</h2>

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">enter your destination country</option><!-- /.option-->

															<option value="turkey">turkey</option><!-- /.option-->

															<option value="russia">russia</option><!-- /.option-->
															<option value="egept">egypt</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">enter your destination location</option><!-- /.option-->

															<option value="istambul">istambul</option><!-- /.option-->

															<option value="mosko">mosko</option><!-- /.option-->
															<option value="cairo">cairo</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->

												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2 class="mamad0">check in</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="check_in" class="form-control datepicker" placeholder="12/06/1403 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2 class="mamad0">check out</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="check_out" class="form-control datepicker" placeholder="12/06/1403 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2 class="mamad0">duration</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">5</option><!-- /.option-->

															<option value="10">10</option><!-- /.option-->

															<option value="15">15</option><!-- /.option-->
															<option value="20">20</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2 class="mamad0">members</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">1</option><!-- /.option-->

															<option value="2">2</option><!-- /.option-->

															<option value="4">4</option><!-- /.option-->
															<option value="8">8</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

										</div><!--/.row-->

										<div class="row">
											<div class="col-sm-5"></div><!--/.col-->
											<div class="clo-sm-7">
												<div class="about-btn travel-mrt-0 pull-right">
													<button  class="about-view travel-btn">
														search
													</button><!--/.travel-btn-->
												</div><!--/.about-btn-->
											</div><!--/.col-->

										</div><!--/.row-->

									</div><!--/.tab-para-->

								</div><!--/.tabpannel-->

								<div  class="tab-pane fade in" id="flights">
									<div class="tab-para">
										<div class="trip-circle">
											<div class="single-trip-circle">
												<input type="radio" id="radio01" name="radio" />
												<label for="radio01">
  														<span class="round-boarder">
  															<span class="round-boarder1"></span>
  														</span>رفت و برگشت
												</label>
											</div><!--/.single-trip-circle-->
											<div class="single-trip-circle">
												<input type="radio" id="radio02" name="radio" />
												<label for="radio02">
  														<span class="round-boarder">
  															<span class="round-boarder1"></span>
  														</span>یک طرفه
												</label>
											</div><!--/.single-trip-circle-->
										</div><!--/.trip-circle-->
										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="single-tab-select-box">

													<h2 class="mamad0">فرودگاه مبدا</h2>

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">enter your location</option><!-- /.option-->

															<option value="turkey">turkey</option><!-- /.option-->

															<option value="russia">russia</option><!-- /.option-->
															<option value="egept">egypt</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2 class="mamad0">تاریخ رفت</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="departure" class="form-control datepicker"
																   placeholder="12 -01 - 2024 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2 class="mamad0">تاریخ برگشت</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="return" class="form-control datepicker" placeholder="12/06/1403 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2 class="mamad0">بزرگسالان</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">5</option><!-- /.option-->

															<option value="10">10</option><!-- /.option-->

															<option value="15">15</option><!-- /.option-->
															<option value="20">20</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2 class="mamad0">کودکان</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">1</option><!-- /.option-->

															<option value="2">2</option><!-- /.option-->

															<option value="4">4</option><!-- /.option-->
															<option value="8">8</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

										</div><!--/.row-->

										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="single-tab-select-box">

													<h2 class="mamad0">فرودگاه مقصد</h2>

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">فرودگاه مقصد خود را انتخاب نمایید</option><!-- /.option-->

															<option value="istambul">استانبول</option><!-- /.option-->

															<option value="mosko">مسکو</option><!-- /.option-->
															<option value="cairo">کایرو</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->

												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->
											<div class="col-lg-3 col-md-3 col-sm-4">
												<div class="single-tab-select-box">

													<h2 class="mamad0">class</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">enter class</option><!-- /.option-->

															<option value="A">A</option><!-- /.option-->

															<option value="B">B</option><!-- /.option-->
															<option value="C">C</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->
											<div class="clo-sm-5">
												<div class="about-btn pull-right">
													<button  class="about-view travel-btn">
														search
													</button><!--/.travel-btn-->
												</div><!--/.about-btn-->
											</div><!--/.col-->

										</div><!--/.row-->

									</div>

								</div><!--/.tabpannel-->

							</div><!--/.tab content-->
						</div><!--/.desc-tabs-->
					</div><!--/.single-travel-box-->
				</div><!--/.col-->
			</div><!--/.row-->
		</div><!--/.container-->

	</section><!--/.travel-box-->
{% endcomment %}

	<div class="untree_co-section">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-lg-6 text-center">
					<h2 class="section-title text-center mb-3">خدمات ما</h2>
					<p>کجا میری مهمه با کی میری مهم تر</p>
				</div>
			</div>
			<div class="row align-items-stretch">
				<div class="col-lg-4 order-lg-1">
					<div class="h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url('{% static 'images/hero-slider-1.jpg' %}');"></div></div></div>
				</div>

				<div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1" >

					<div class="feature-1 d-md-flex">
						<div class="align-self-center">
							<span class="flaticon-house display-4 text-primary"></span>
							<h3>خدمات از راه دور</h3>
							<p class="mb-0" style="text-align: right;">امکان سفارش تمام خدمات ما از خانه بدون نیاز به حضور در آژانس</p>
						</div>
					</div>

					<div class="feature-1 ">
						<div class="align-self-center">
							<span class="flaticon-restaurant display-4 text-primary"></span>
							<h3>ویزا</h3>
							<p class="mb-0" style="text-align: right">دریافت ویزا مورد نیاز شما به راحتی رزرو یک میز در رستوران</p>
						</div>
					</div>

				</div>

				<div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3" >

					<div class="feature-1 d-md-flex">
						<div class="align-self-center">
							<span class="flaticon-mail display-4 text-primary"></span>
							<h3>ارتباط آسان</h3>
							<p class="mb-0" style="text-align: right;">فقط کافی است سوال خود را برای ما ارسال کنید ما در سریع ترین حالت ممکن با شما تماس خواهیم گرفت</p>
						</div>
					</div>

					<div class="feature-1 d-md-flex">
						<div class="align-self-center">
							<span class="flaticon-phone-call display-4 text-primary"></span>
							<h3>پشتیبانی 24/7</h3>
							<p class="mb-0" style="text-align: right">در هر روزی و در هر ساعتی حتی در روز های تعطیل در خدمت شما هستیم</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
    {% if inf %}
	<div class="untree_co-section count-numbers py-5">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="{{ inf.travels }}">0</span>
						</div>
						<span class="caption">تعداد سفر ها</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="{{ inf.clients }}">0</span>
						</div>
						<span class="caption">تعداد مشتریان</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="{{ inf.employees }}">0</span>
						</div>
						<span class="caption">تعداد کارمندان</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="{{ inf.countries }}">0</span>
						</div>
						<span class="caption">تعداد کشور ها</span>
					</div>
				</div>
			</div>
		</div>
	</div>
    {% endif %}

{% if pop %}
	<div class="untree_co-section">
		<div class="container">
			<div class="row text-center justify-content-center mb-5">
				<div class="col-lg-7"><h2 class="section-title text-center">مقصد های پر طرفدار</h2></div>
			</div>

			<div class="owl-carousel owl-3-slider">
                {% for item in pop %}
				<div class="item">
					<a class="media-thumb" href="{% if item.slug %}{% url 'blogs_details' item.slug.id %}{% endif %}">
						<div class="media-text">
							<h3>{{ item.makan }}</h3>
							<span class="location">{{ item.keshvar }}</span>
						</div>
						<img src="{{ item.avatar.url }}" alt="{{ item.makan }}" class="img-fluid">
					</a>
				</div>
                {% endfor %}

			</div>

		</div>
	</div>
{% endif %}


    {% if visas %}
	<div class="untree_co-section">
		<div class="container">
			<div class="row text-center justify-content-center mb-5">
				<div class="col-lg-7"><h2 class="section-title text-center">ویزا</h2></div>
			</div>

			<div class="owl-carousel owl-3-slider">
                {% for item in visas %}
				<div class="item">
					<a class="media-thumb" href="{% if item.slug%}
					{% url 'blogs_details' item.slug.id %}
					{% endif %}">
						<div class="media-text">
							<h3>{{ item.makan }}</h3>
							<span class="location">{{ item.keshvar }}</span>
						</div>
						<img src="{{ item.avatar.url }}" alt="{{ item.makan }}" class="img-fluid">
					</a>
				</div>
                {% endfor %}

			</div>

		</div>
	</div>
{% endif %}


    {% if tes %}
	<div class="untree_co-section testimonial-section mt-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 text-center">
					<h2 class="section-title text-center mb-5">Testimonials</h2>

					<div class="owl-single owl-carousel no-nav">
                        {% for item in tes %}
						<div class="testimonial mx-auto">
							<figure class="img-wrap">
								<img src="{{ item.avatar.url }}" alt="{{ item.name }}" class="img-fluid">
							</figure>
							<h3 class="name">{{ item.name }}</h3>
							<blockquote>
								<p>&ldquo;{{ item.description }}&rdquo;</p>
							</blockquote>
						</div>
                        {% endfor %}
					</div>

				</div>
			</div>
		</div>
	</div>
    {% endif %}
{% if specials %}
	<div class="untree_co-section">
		<div class="container">
			<div class="row justify-content-center text-center mb-5">
				<div class="col-lg-6">
					<h2 class="section-title text-center mb-3">پیشنهادات ویژه و تخفیف ها</h2>
{#					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>#}
				</div>
			</div>
			<div class="row">
                {% for item in specials %}
				<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
					<div class="media-1">
						<a href="{% url 'blogs_details' item.slug.id %}" class="d-block mb-3"><img src="{{ item.avatar.url }}" alt="{{ item.makan }}" class="img-fluid"></a>
						<span class="d-flex align-items-center loc mb-2">
							<span class="icon-room mr-3"></span>
							<span>{{ item.keshvar }}</span>
						</span>
						<div class="d-flex align-items-center">
							<div>
								<h3><a href="{% url 'blogs_details' item.slug.id %}">{{ item.makan }}</a></h3>
								<div class="price ml-auto">
									<span>تومان {{ item.price }}  </span>
								</div>
							</div>

						</div>

					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
{% endif %}



{#	<div class="untree_co-section">#}
{#		<div class="container">#}
{#			<div class="row justify-content-between align-items-center">#}
{##}
{#				<div class="col-lg-6">#}
{#					<figure class="img-play-video">#}
{#						<a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=mwtbEGNABWU" data-fancybox>#}
{#							<span></span>#}
{#						</a>#}
{#						<img src="{% static 'images/hero-slider-2.jpg' %}" alt="Image" class="img-fluid rounded-20">#}
{#					</figure>#}
{#				</div>#}
{##}
{#				<div class="col-lg-5">#}
{#					<h2 class="section-title text-left mb-4">به ویدیوی تور نگاهی بیندازید</h2>#}
{#					<p>بسیار دور، پشت کلمه کوه، دور از کشورهای Vokalia و Consonantia، متون کور زندگی می کنند. آنها از هم جدا شده در Bookmarksgrove درست در ساحل معناشناسی، یک اقیانوس بزرگ زبانی زندگی می کنند.</p>#}
{##}
{#					<p class="mb-4">رودخانه کوچکی به نام دودن در کنار محل آنها جریان دارد و امکانات لازم را برای آن تامین می کند. این کشوری بهشتی است که در آن قسمت های برشته شده جملات به دهان شما پرواز می کند.</p>#}
{##}
{#					<ul class="list-unstyled two-col clearfix">#}
{#						<li>فعالیت های تفریحی در فضای باز</li>#}
{#						<li>خطوط هوایی</li>#}
{#						<li>Car Rentals</li>#}
{#						<li>Cruise Lines</li>#}
{#						<li>Hotels</li>#}
{#						<li>Railways</li>#}
{#						<li>Travel Insurance</li>#}
{#						<li>Package Tours</li>#}
{#						<li>Insurance</li>#}
{#						<li>Guide Books</li>#}
{#					</ul>#}
{##}
{#					<p><a href="#" class="btn btn-primary">Get Started</a></p>#}
{##}
{##}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}



	<div class="py-5 cta-section">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<h2 class="mb-2 text-white">به شما امکان می دهیم بهترین ها را کشف کنید. اکنون با ما تماس بگیرید</h2>
{#					<p class="mb-4 lead text-white text-white-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</p>#}
					<p class="mb-0"><a href="{% url 'contact' %}" class="btn btn-outline-white text-white btn-md font-weight-bold">در تماس باشید</a></p>
				</div>
			</div>
		</div>
	</div>

	{% include 'footer.html' %}

	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
	<script src="{% static 'js/aos.js' %}"></script>
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/daterangepicker.js' %}"></script>

	<script src="{% static 'js/typed.js' %}"></script>
    {% if slides %}
	<script>
		$(function() {
			var slides = $('.slides'),
			images = slides.find('img');

			images.each(function(i) {
				$(this).attr('data-id', i + 1);
			})

			var typed = new Typed('.typed-words', {
				strings: [
                    {% for slide in slides %}
                        {% if forloop.last %}
                            "{{ slide.name }}"
                        {% else %}
                            "{{ slide.name }}",
                        {% endif %}
                    {% endfor %}
                ],
				typeSpeed: 80,
				backSpeed: 80,
				backDelay: 4000,
				startDelay: 1000,
				loop: true,
				showCursor: true,
				preStringTyped: (arrayPos, self) => {
					arrayPos++;
					console.log(arrayPos);
					$('.slides img').removeClass('active');
					$('.slides img[data-id="'+arrayPos+'"]').addClass('active');
				}

			});
		})
	</script>
    {% endif %}
	<script src="{% static 'js/custom.js' %}"></script>
<!--extera-->
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.fa.js' %}"></script>
	<script>
		$(document).ready(function() {
			$(".datepicker").datepicker({
				changeMonth: true,
				changeYear: true
			});
		});
	</script>
</body>

</html>
